<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.faroukproject">

    <dist:module dist:instant="true" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher3"
        android:label="kids"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomePage.KidsZone"></activity>
        <activity android:name=".HomePage.ProfileActivity" />
        <activity android:name=".Test.Prounnounce_exam" />
        <activity android:name=".Test.Color_exam" />
        <activity android:name=".HomePage.DoctorsActivity" />
        <activity android:name=".HomePage.ChatActivity" />
        <activity android:name=".Test.TestExam" />
        <activity android:name=".Test.TestLevels" />
        <activity android:name=".HomePage.HomePage" />
        <activity android:name=".IntroWithLog.SignUpActivity" />
        <activity android:name=".IntroWithLog.LogInActivity"></activity>
        <activity android:name=".IntroWithLog.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ItemsName" />
        <activity android:name=".CategoryName" />

        <meta-data
            android:name="com.parse.SERVER_URL"
            android:value="@string/back4app_server_url" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/back4app_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/back4app_client_key" />
    </application>

</manifest>